### EDA for Electricty Prices

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/elpriset.csv')

In [3]:
df.head()

,SEK_per_kWh,EUR_per_kWh,EXR,time_start,time_end,date
0,0.37995,0.03491,10.883706,2022-11-01T00:00:00+01:00,2022-11-01T01:00:00+01:00,2022-11-01
1,0.37995,0.03491,10.883706,2022-11-01T01:00:00+01:00,2022-11-01T02:00:00+01:00,2022-11-01
2,0.38430,0.03531,10.883706,2022-11-01T02:00:00+01:00,2022-11-01T03:00:00+01:00,2022-11-01
3,0.39301,0.03611,10.883706,2022-11-01T03:00:00+01:00,2022-11-01T04:00:00+01:00,2022-11-01
4,0.41173,0.03783,10.883706,2022-11-01T04:00:00+01:00,2022-11-01T05:00:00+01:00,2022-11-01

Check Nan

In [4]:
df.isna().sum()

SEK_per_kWh    0
EUR_per_kWh    0
EXR            0
time_start     0
time_end       0
date           0
dtype: int64

Check duplicates

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18744 entries, 0 to 18743
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SEK_per_kWh  18744 non-null  float64
 1   EUR_per_kWh  18744 non-null  float64
 2   EXR          18744 non-null  float64
 3   time_start   18744 non-null  object
 4   time_end     18744 non-null  object
 5   date         18744 non-null  object
dtypes: float64(3), object(3)
memory usage: 1.0+ MB

In [7]:
df.drop(columns=['EUR_per_kWh', 'EXR', 'time_start', 'time_end'], inplace=True)

In [8]:
df.head()

   SEK_per_kWh        date
0      0.37995  2022-11-01
1      0.37995  2022-11-01
2      0.38430  2022-11-01
3      0.39301  2022-11-01
4      0.41173  2022-11-01

Take daily mean price as final price

In [9]:
df = df.groupby('date', as_index=False)['SEK_per_kWh'].mean()
df = df.rename(columns={'SEK_per_kWh': 'price'})

In [10]:
df.head()

         date     price
0  2022-11-01  0.655705
1  2022-11-02  0.607735
2  2022-11-03  0.550615
3  2022-11-04  0.292413
4  2022-11-05  0.422040

In [11]:
df.to_csv('data/prices.csv', index=False)

In [13]:
df = pd.read_csv('./data/prices.csv')

In [15]:
df.head()

         date     price
0  2022-11-01  0.655705
1  2022-11-02  0.607735
2  2022-11-03  0.550615
3  2022-11-04  0.292413
4  2022-11-05  0.422040